@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// バリュー（価値観）リスト
.c-value-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.8rem;
  align-self: stretch;
  width: 100%;

  @include pc {
    gap: 4.8rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    align-self: stretch;

    @include tab {
      flex-direction: row;
      gap: 6rem;
    }
    @include pc {
      gap: 14rem;
    }

    dt {
      color: var(--text-black, #020d1b);
      font-family: "Noto Sans JP", sans-serif;
      font-size: 1.8rem;
      font-weight: 700;

      @include tab {
        width: 42.5%;
      }
      @include pc {
        width: 27.6%;
      }
    }

    dd {
      color: var(--text-black, #020d1b);
      font-family: "Noto Sans JP", sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.57; // 22px / 14px

      @include tab {
        width: 49.1%;
        font-size: 1.6rem;
        line-height: 1.75; // 28px / 16px
      }
      @include pc {
        width: 59.8%;
      }
    }
  }
}
