// ==========================================
// Layout: .l-inner (l-inner.scss)
// ==========================================
.l-inner {
  width: 100%;
  max-width: 1120px; // サイト全体の共通最大幅
  margin: 0 auto; // 中央寄せ
}
