@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-about-outline {
  display: flex;
  padding: 64px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  background: #f8fafc;
  &__table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    margin-top: 32px;
    border: 1px solid var(--border, #c6dbde);
    border-radius: 10px;
    @include tab {
      padding: 40px;
    }
  }
}
