@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

.p-about-outline {
  display: flex;
  padding: 6.4rem 0.8rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
  align-self: stretch;
  background: #f8fafc;

  &__table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    align-self: stretch;
    margin-top: 3.2rem;
    border: 0.1rem solid var(--border, #c6dbde);
    border-radius: 1rem;

    @include tab {
      padding: 4rem;
    }
  }
}
