@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

/* ========================================
   4. Object / Project
   ======================================== */
// 下層ページサービス
.p-service-list {
  background: #fff;

  &__container {
    display: flex;
    padding: 6.4rem 0.8rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2rem;
    align-self: stretch;

    @include tab {
      padding: 8rem 2rem;
      gap: 5.6rem;
    }
    @include pc {
      padding: 14rem 0 10rem;
      gap: 8rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    align-self: stretch;

    @include tab {
      gap: 2rem;
    }
    @include pc {
      max-width: 112rem;
      width: 100%;
      gap: 6.4rem;
    }
  }
}
